<!DOCTYPE html>
<html>
<head>
    <title>Pool Controller</title>
    <style>
        h1 {
            text-align: center;
        }
        body {
            font-family: sans-serif;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }
        .button {
            border: none;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
        .buttonSmall {
            border: none;
            padding: 4px 2px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            margin: 0px 2px;
            cursor: pointer;
        }
        .buttonGreen {
            background-color: #4CAF50; /* Green */
            color: white;
        }
        .buttonGrey {
            background-color: #e7e7e7; /* Gray */
            color: black;
        } 
        .buttonRed {
            background-color: #FF0000; /* Red */
            color: white;
        }
    </style>
</head>
<body>
    {% if systemstatus == 1 %}
    <h1>Pool Controller - {{ airtemp }}&deg;F</h1>
    <table>
        <tr>
            <td>
                <form method="post">
                    {% if poolactive == true %}
                        <button class="button buttonGreen" type="submit" value="pooloff" name="activate" style="width: 100%">Pool - {{ pooltemp }}&deg;F</button>
                    {% else %}
                        <button class="button buttonGray" type="submit" value="poolon" name="activate" style="width: 100%">Pool - {{ pooltemp }}&deg;F</button>
                    {% endif %}
                </form>
            </td>
            <td>
                <form method="post">
                    {% if spaactive == true %}
                        <button class="button buttonGreen" type="submit" value="spaoff" name="activate" style="width: 100%">Spa - {{ spatemp }}&deg;F</button>
                    {% else %}
                        <button class="button buttonGray" type="submit" value="spaon" name="activate" style="width: 100%">Spa - {{ spatemp }}&deg;F</button>
                    {% endif %}
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            {% if poolactive == true %}
                                <form method="post">
                                    <button class="buttonSmall buttonGreen" type="submit" value="decrease" name="temp" style="width: 100%">-</button>
                                </form>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {{ poolsettemp }}&deg;F
                        </td>
                        <td>
                            {% if poolactive == true %}
                                <form method="post">
                                    <button class="buttonSmall buttonGreen" type="submit" value="increase" name="temp" style="width: 100%">+</button>
                                </form>
                            {% else %}
                                +
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td>
                            {% if spaactive == true %}
                                <form method="post">
                                    <button class="buttonSmall buttonGreen" type="submit" value="decrease" name="temp" style="width: 100%">-</button>
                                </form>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {{ spasettemp }}&deg;F
                        </td>
                        <td>
                            {% if spaactive == true %}
                                <form method="post">
                                    <button class="buttonSmall buttonGreen" type="submit" value="increase" name="temp" style="width: 100%">+</button>
                                </form>
                            {% else %}
                                +
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            {% if poolactive == true %}
                                {% if heatactive == false %}
                                    <form method="post">
                                        <button class="button buttonGray" type="submit" value="heaton" name="activate" style="width: 100%">Heater Off</button>
                                    </form>
                                {% else %}
                                    <form method="post">
                                        <button class="button buttonGreen" type="submit" value="heatoff" name="activate" style="width: 100%">Heater On</button>
                                    </form>
                                {% endif %}
                            {% else %}
                                Heater
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td>
                            {% if spaactive == true %}
                                {% if heatactive == false %}
                                    <form method="post">
                                        <button class="button buttonGray" type="submit" value="heaton" name="activate" style="width: 100%">Heater Off</button>
                                    </form>
                                {% else %}
                                    <form method="post">
                                        <button class="button buttonGreen" type="submit" value="heatoff" name="activate" style="width: 100%">Heater On</button>
                                    </form>
                                {% endif %}
                            {% else %}
                                Heater
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>{{ debug }}</td>
            <td>
                <table>
                    <tr>
                        <td>
                            {% if spaactive == true %}
                                {% if bloweractive == false %}
                                    <form method="post">
                                        <button class="button buttonGray" type="submit" value="bloweron" name="activate" style="width: 100%">Blower Off</button>
                                    </form>
                                {% else %}
                                    <form method="post">
                                        <button class="button buttonGreen" type="submit" value="bloweroff" name="activate" style="width: 100%">Blower On</button>
                                    </form>
                                {% endif %}
                            {% else %}
                                Blower
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    {% else %}
    <h1>Maintenance Mode Active</h1>
    {% endif %}
</body>
</html>